html {
  box-sizing: border-box;
}

main {
  position: absolute;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  justify-items: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.title__container {
  margin-top: 5rem;
  max-width: 100%;
  grid-column-start: 2;
}

.section {
  grid-column-start: 3;
  align-self: center;
}

.hidden {
  display: none;
}

.controls {
  grid-column-start: span 3;
}

p {
  margin-top: 20px;
  font-size: 1.5rem;
  color: white;
}

.planet__title {
  color: white;
  grid-column-start: 2;
  align-self: center;
  justify-self: center; 
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
